.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: space-between;
  text-align: center;
}

img.sample {
  height: auto;
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid white;
}

img.select {
  opacity: 0.5;
}

#display-box {
  height: auto;
  min-width: 100%;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mobile-menu {
  display: none;
}

.drum-action, .drum-pad-subtitle {
  width: 100%;
  max-width: 200px;
  height: 1rem;
}

.drum-machine {
  max-width: 1600px;
  width: 100%;
}

svg {
  color: inherit;
}

/* Media queries */
@media only screen and (max-width: 400px) {
  #menu, #menu-divider, .menu-group, #sample-selector, #episode-picker-btn {
    display: none;
  }
  #mobile-menu {
    display: flex;
  }
  #display-box {
    display: flex;
    position: fixed;
    top: 0;
    max-height: 4em;
    padding: 1em;
    z-index: 1;
    text-align: center;
    overflow: scroll;
    justify-content: center;
  }
  h1.MuiTypography-h3 {
    font-size: x-large;
  }
  h1.MuiTypography-h5 {
    font-size: large;
  }
  .drum-machine {
    margin-bottom: 3rem;
  }
  span.MuiBadge-colorSecondary {
    display: none;
  }
  #back-to-top-arrow-box {
    display: none;
  }
}

/* Transition classes  */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active, .fade-exit-active {
  transition: opacity 50ms;
}
