.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}

img {
  height: auto;
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
}

img.select {
  opacity: 0.5;
}

#display {
  min-height: 4rem;
  margin: 1rem 0;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.drum-action, .drum-pad-subtitle {
  width: 100%;
  max-width: 200px;
  height: 1rem;
}

.drum-machine {
  max-width: 1600px;
  width: 100%;
}

span.MuiBadge-colorSecondary {
  font-size: large;
}

/* Media queries */
@media only screen and (max-width: 400px) {
  #menu {
    display: flex;
    flex-direction: column;
  }
  #menu-divider {
    display: none;
  }
  .menu-group {
    justify-content: center;
  }
  span.MuiBadge-colorSecondary {
    display: none;
  }
}

/* Transition classes  */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active, .fade-exit-active {
  transition: opacity 50ms;
}
